.body-container{
    background-image: url(/assets/images/pokemonbgdimg.jpg);
    height: 82vh;
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: center;
    text-align: -webkit-center;
}
