.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 1;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #df3a3a;
}

#app-logo {
  height: 1.5rem;
  padding: 0 3px;
  margin-top: -1rem;
}

#app-title {
  font-size: 1.5rem;
  color: rgb(204, 0, 0);
}

.home-body {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/assets/images/pokemonbgdimg.jpg);
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
