.guess-container{
    display: flex;
    flex-direction: column;
}

.guess-navbar{
    display: flex;
    flex:1;
}
  
.guess-body{
    display: block;
    flex:5;
    flex-direction: column;
    margin: 0 2rem;
}

.silhouette-container{
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.guess-footer{
    display: flex;
    flex:1;
}

.spacer {
    flex: 1 1 auto;
  }

